/* CopyRight SisinaRaz */
@font-face {
    font-family: "Panthera";
    src: url("../font/PantheraRegular-MVZ9J.ttf");
}

@font-face {
    font-family: "BEYNO";
    src: url("../font/FontsFree-Net-BEYNO.ttf");
}

@font-face {
    font-family: "WakandaForever";
    src: url("../font/WakandaForever-Regular.ttf");
}

@font-face {
    font-family: "Cantarell";
    src: url("../font/Cantarell-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White-color: #fff;
    --Gray-color: #f2cef2;
    --Violet-color: #9e91b7;
    --Rose-color: #df99f2;
    --Bleu1-color: #3d2da6;
    --Bleu2-color: #07338c;
    --Bleu3-color: #021740;
}

/* Animations */
html {
    animation: body 2s ease-out forwards;
}

html {
    animation: html 2s ease-out;
}

@keyframes html {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Général */
body {
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%);
    overflow-x: hidden;
}

h1 {
    font-family: "Panthera";
    font-size: 68px;
    color: var(--Violet-color);
}

h2 {
    font-family: "BEYNO";
    color: var(--Violet-color);
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
}

h3 {
    font-family: "BEYNO";
    color: var(--Violet-color);
    line-height: 40px;
}

h4 {
    font-family: "Cantarell";
    color: #3d2da6;
}

p {
    font-family: "Cantarell";
    font-size: 0.8em;
    margin-bottom: 10px;
    color: #fff;
    text-align: justify;
}

a {
    color: #fff;
}

/* Bordure sur le côté gauche */
.statics {
    position: sticky;
    top: 0px;
    margin-top: -150px;
    margin-left: 20px;
    writing-mode: vertical-lr;
    overflow: hidden;
    height: 350px;
    cursor: pointer;
}

#border1 {
    border: 2px solid var(--Violet-color);
}

#border2 {
    color: var(--Violet-color);
    border: 2px solid var(--Violet-color);
    margin-top: -10px;
    margin-left: 8px;
    float: left;
    height: 60%;
}

.icons_fitt {
    margin-top: 10px;
    margin-left: 10px;
    height: 340px;
    text-align: end;
}

.icons_fitt img {
    width: 20px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.icons_fitt img:hover {
    filter: invert(0%) sepia(100%) saturate(0);
}

/* Header */
nav .logo_header img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logo_header img:hover {
    filter: invert(70%) sepia(20%) saturate(5) hue-rotate(270deg);
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    height: 100px;
    margin: auto;
}

.menu_header ul li {
    display: inline-block;
    margin-left: 40px;
}

.menu_header ul li a {
    text-decoration: none;
    font-family: "BEYNO";
    cursor: pointer;
    padding: 1px;
}

.menu_header ul li a.active {
    color: var(--Violet-color);
    text-decoration-color: var(--Violet-color);
    border-bottom: 2px solid;
}

.menu_header ul li a:hover {
    border-bottom: 2px solid;
    color: var(--White-color);
}

/* Main */
/* Section */
.hero-wakanda {
    width: 100%;
    height: 800px;
    background-image: url("../Illustrations/Wakanda/Pantherwakanda1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4em;
}

/* CopyRight SisinaRaz */

.hero-wakanda .div-hero {
    width: 35%;
    /* text-align: justify; */
    margin-left: 10em;
    padding-top: 10em;
    /* margin-top: 20em; */
}

.hero-wakanda h1{
    font-family: "BEYNO";
    color: var(--Violet-color);
    line-height: 40px;
    font-size: 40px;
    letter-spacing: 4px;
    width: 500px;
    margin-top: 150px;
}

.hero-wakanda h2 {
    font-family: "WakandaForever";
    letter-spacing: 10px;
}

.doc {
    width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    margin: 0 auto;
    text-align: justify;
    background: url('../Illustrations/Wakanda/Pantherwakanda2-mod.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.doc iframe{
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc div {
    padding-top: 50px;
    padding-bottom: 50px;
}

.doc div img {
    margin-top: 1em;
    width: 100%;
}

/* Footer */
footer {
    margin-top: 7em;
    width: 100%;
    padding: 7em;
    background-image: url("../Illustrations/Logo/back_footer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-image #bulle-footer,
.footer-image #logo-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-image #bulle-footer {
    width: 200px;
}

.footer-image #logo-footer {
    width: 100px;
    position: relative;
    z-index: 1;
}

.card-footer {
    width: 95%;
    display: grid;
    grid-template-areas:
        ". . footer-image footer-links footer-socials"
        ". . footer-image footer-text footer-text";
}

.footer-image {
    grid-area: footer-image;
    position: relative;
    margin-right: 5em;
    transition: all 0.5s ease-out;
}

.footer-image:hover {
    transform: scale(1.1);
}

.footer-links {
    grid-area: footer-links;
    color: white;
}

.footer-links p {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    margin-top: 20px;
}

.footer-links ul li a {
    line-height: 25px;
    font-family: "cantarell";
    cursor: pointer;
    font-size: 11px;
    text-decoration: none;
    color: white;
}

.footer-socials {
    grid-area: footer-socials;
}

.footer-socials p {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.footer-socials img {
    width: 30px;
    margin-right: 20px;
    transition: all 0.5s ease-out;
}

.footer-socials img:hover {
    transform: scale(1.1);
}

.footer-text {
    margin-top: 80px;
    grid-area: footer-text;
}

/* CopyRight SisinaRaz */


